.cart{
    width:100%;
    display: flex;
}

.cart_products_container{
    width:70%;
    background-color: aqua;
    padding-bottom: 5rem;
}

.cart_total_container{
    width:30%;
    background-color: chartreuse;
}

.cart table{
    text-align: center;
    margin:1rem 5rem 1rem 5rem;
    border-spacing: 0;
}

.cart .product_image{
    max-width: 100px;
    width:100%;
}

.cart .fa-times{
    width:5rem;
    font-size:2rem;
}

.cart .product_name{
    font-size: 1.5rem;
    width:15rem;
}



.cart .product_price{
    font-size: 1.5rem;
    width:7rem;
}

.cart input[type="number"]{
    margin:.5rem 0;
    border:2px solid black;
    border-radius: .5rem;
    padding:.2rem .4rem;
    font-size: 1.3rem;
    color:var(--black);
    width: 3rem;
 }

.cart .update{   
    display: inline-block;
    cursor: pointer;
    color:var(--white);
    font-size: 1.3rem;
    border-radius: .5rem;
    text-transform: capitalize;
}

.rowtotal{
    font-size: 1.5rem;
    color:var(--light-color);
    width:10rem;
    text-align: center;
}

.rowtotal span{
    color:var(--red);
}

.grandtotal{
    max-width: 1200px;
    margin:0 auto;
    border:var(--border);
    padding:2rem;
    text-align: center;
    margin-top: 2rem;
    border-radius: .5rem;
}

.grandtotal span{
    font-size: 2.5rem;
    color:var(--light-color);
}

.grandtotal .flex{
    display: flex;
    flex-wrap: wrap;
    column-gap:1rem;
    margin-top: 1.5rem;
    justify-content: center;
}

.continuebutton{
    display: inline-block;
    margin-top: 1rem;
    padding:1rem 3rem;
    cursor: pointer;
    color:var(--white);
    font-size: 1.8rem;
    border-radius: .5rem;
    text-transform: capitalize;
}

.continuebutton:hover{
    background-color: var(--black);
}

.cart .disabled{
    pointer-events: none;
    opacity: .5;
    user-select: none;
}

.cart .checkout{
    display: inline-block;
    margin-top: 1rem;
    padding:1rem 3rem;
    cursor: pointer;
    color:var(--white);
    font-size: 1.8rem;
    border-radius: .5rem;
    text-transform: capitalize;
}

.cart .checkout:hover{
    background-color: var(--black);
}
