.cart{
    width:100%;
    display: flex;
}

.cart_products_container{
    width:70%;
    padding-bottom: 5rem;
}

.cart_products_container h2{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.cart_total_container{
    width:16%;
    margin:8% 8% 10% 3%;
    padding:3% 2% 3% 2%;
    border:0.2rem solid var(--black);
    border-radius: 1.2rem;
    background-color: aliceblue;
}

.cart table{
    text-align: center;
    margin:1rem 1rem 1rem 8rem;
    border-spacing: 0;
    border-color:var(--gray);
}

.cart table th{
    font-size: 1.4rem;
}

.cart .product_image{
    max-width: 120px;
    width:100%;
    padding:0.3rem 0.2rem 0.1rem 0.3rem;
}

.cart .fa-trash{
    width:2rem;
    font-size:1.5rem;
    text-decoration: none;
    color:var(--black);
}

.cart .product_name{
    font-size: 1.5rem;
    width:15rem;
}



.cart .product_price{
    font-size: 1.5rem;
    width:7rem;
}

.cart input[type="number"]{
    margin:.5rem .4rem .5rem 1rem;
    border:2px solid var(--gray);
    border-radius: .5rem;
    padding:.2rem .4rem;
    font-size: 1.2rem;
    color:var(--black);
    width: 3rem;
 }

.cart .update{   
    display: inline-block;
    cursor: pointer;
    color:var(--black);
    font-size: 1rem;
    border-radius: .5rem;
    padding:.4rem .5rem .4rem .5rem;
    background-color: var(--gray);
    border:.1rem solid var(--black);
    margin-right: 1rem;
}

.rowtotal{
    font-size: 1.5rem;
    color:var(--light-color);
    width:10rem;
    text-align: center;
}

.rowtotal span{
    color:var(--red);
}

.grandtotal{
    max-width: 1200px;
    margin:0 auto;
    text-align: center;
    font-size: 1.5rem;
}

.grandtotal span{
    font-size: 1.4rem;
    color:var(--light-color);
}

.grandtotal .flex{
    display: flex;
    flex-wrap: wrap;
    column-gap:1rem;
    margin-top: 1.5rem;
    justify-content: center;
}

.cart .disabled{
    pointer-events: none;
    opacity: .5;
    user-select: none;
}

.cart .checkout{
    display: inline-block;
    margin-top: 6rem;
    padding:0.5rem 1.5rem 0.5rem 1.5rem;
    cursor: pointer;
    color:var(--black);
    background-color: var(--gray);
    font-size: 1.2rem;
    border-radius: .8rem;
    text-decoration: none;
    font-weight: 500;
}

.cart .checkout:hover{
    background-color: var(--darkblue);
    color:var(--white);
}
