.footer{
    background-color: gainsboro;
}

.footer1{
    width:80%;
    margin-left:10%;
    margin-right: 10%;
    display:flex;
}

.footer1_column{
    width:25%;
}

.footer1_column a{
    text-decoration: none;
    color:black;
}

.footer2{
    background-color: black;
    color:white;
    text-align: center;
}