/* top main image */
.main_image{
    position: relative;
    width:100%;
    padding-bottom: 0;
    margin-bottom:0;
}
.image1{
    width:100%;
    padding-bottom: 0;
    margin-bottom:0;
    opacity: 1;
}

.main_image .content{
    width:38%;
    position:absolute;
    top:21%;
    left:7%;
    font-size: 1.5rem;
    font-weight: 700;
    color:var(--white);
    font-style: italic;
}

/* characteristics */

.characteristics{
    width:86%;
    padding:2% 7% 2% 7%;
    display: flex;
    background-color: var(--gold);
}

.characterbox{
    width:29.33%;
    text-align: center;
    padding:2% 2% 2% 2%;
    margin:0% 2% 0% 2%;
    background-color: var(--white);
    border-radius: 2rem;
}

/*

.product .addtocart:hover{
    background-color: var(--black);
}

/* products */

.products_section{
    width:100%;
    padding-bottom: 3rem;
}

.products_section h1{
    padding-top:1rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.card-slider {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display:inline-flex;
    position:relative;
}
  
.slider-container {
    max-width: 202vh;
    overflow: hidden;
    position: relative;
}
  
.slider {
    display: flex;
    transition: transform 0.3s ease;
}
  
.card {
    flex: 0 0 auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    max-width: 11rem;
}

.product{
    text-align: center;
}

.product_name{
    font-size: 1rem;
}

.product_price{
    position: absolute;
    top:0.01rem;
    border-radius: .5rem;
    padding:.2rem;
    font-size: 1rem;
    background-color: var(--cream);
    color:red;
    z-index: 3;
}

.product_quantity{
    width: 30%;
    padding:0.2rem 0.4rem;
    border-radius: .5rem;
    font-size: 1rem;
}
  
.prev-button {
    top:35%;
    left:2rem;
    padding:1rem 1rem 1rem 1rem;
    position:absolute;
    z-index: 4;
}

.next-button {
    top:35%;
    right: 2rem;
    padding:1rem 1rem 1rem 1rem;
    position:absolute;
    z-index:4;

}

.product_image{
    width:10rem;
}


/* about */
.about{
    position:relative;
    text-align: center;
}

.about .image2{
    opacity: 0.5;
}

.about .image3{
    opacity: 0.8;
}

.about .content{
    width:38%;
    position:absolute;
    top:5%;
}

.about .left{
    left:10%;
}

.about .right{
    right:7%;
}

.about .content h2{
    text-align: left;
    font-size:2rem;
    color:var(--black);
    font-weight: 900;
}

.about .content p{
    text-align: left;
    font-size: 1.2rem;
    color:var(--darkblue);
    font-weight:600;
    font-size: 1.5rem;
}

.about .content a{
    padding-top:3%;
    text-decoration: none;
    font-size: 1.2rem;
    position:absolute;
    left:0%;
}

.about .content a span{
    background-color: var(--gold);
    border-radius: 3rem;
    padding:0.5rem 2rem 0.5rem 2rem;
    color:var(--darkblue);
    font-weight: 600;
}

.about .content a span:hover{
    background-color: var(--darkblue);
    color:var(--gold);
}