.products_section{
    width:100%;
    padding-bottom: 3rem;
}

.products_section h1{
    padding-top:1rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.card-slider {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display:inline-flex;
    position:relative;
}
  
.slider-container {
    max-width: 202vh;
    overflow: hidden;
    position: relative;
}
  
.slider {
    display: flex;
    transition: transform 0.3s ease;
}
  
.card {
    flex: 0 0 auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    max-width: 11rem;
}

.product{
    text-align: center;
}

.product_name{
    font-size: 1rem;
}

.product_price{
    position: absolute;
    top:0.01rem;
    border-radius: .5rem;
    padding:.2rem;
    font-size: 1rem;
    background-color: var(--cream);
    color:red;
    z-index: 3;
}

.product_quantity{
    width: 30%;
    padding:0.2rem 0.4rem;
    border-radius: .5rem;
    font-size: 1rem;
}
  
.prev-button {
    top:35%;
    left:2rem;
    padding:1rem 1rem 1rem 1rem;
    position:absolute;
    z-index: 4;
}

.next-button {
    top:35%;
    right: 2rem;
    padding:1rem 1rem 1rem 1rem;
    position:absolute;
    z-index:4;

}

.product_image{
    width:10rem;
}